APP_ENV=dev
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_PORT_TEST=5433
DATABASE_NAME=announcements
DATABASE_NAME_TEST=announcements_test
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_ENABLE_LOGGING=true
DATABASE_MIGRATION_NAME=migration
